@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=MDAwMDcyMzcyNi1OQUJVc2VyMDE6eVN4ZHZZdnR5M2ZUNmJ6Y2QxSzZ0S3l2bUhLM1lNdWk=
always-auth=true
